<table class="table table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Language</th>
            <th>Format</th>
            <th>Info</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var track in Tracks)
        {
            var preview = PreviewTracks?.FirstOrDefault(p => p.TrackNumber == track.TrackNumber);
            var isRemoved = PreviewTracks != null && preview == null;
            <MediaTrackDetail Track="track"
                              IsAllowed="!isRemoved"
                              OriginalLanguage="@OriginalLanguage"
                              Preview="preview"/>
        }
    </tbody>
</table>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<IMediaTrack> Tracks { get; set; } = default!;

    [Parameter]
    public List<TrackSnapshot>? PreviewTracks { get; set; }

    [Parameter, EditorRequired]
    public string? OriginalLanguage { get; set; }
}
