@typeparam TType where TType : class
<div class="form-check">
	<input type="checkbox"
	       class="form-check-input"
	       checked="@Parent.SelectedItems.Contains(Item)"
	       @onchange="HandleSelectionChange"/>
</div>

@code {
	[Parameter] [EditorRequired] public required TType Item { get; set; }
	[Parameter] [EditorRequired] public required SelectablePaginatedListComponent<TType> Parent { get; set; }

	private async Task HandleSelectionChange(ChangeEventArgs args)
	{
		if (args.Value is bool selected)
		{
			if (selected)
			{
				Parent.SelectedItems.Add(Item);
			}
			else
			{
				Parent.SelectedItems.Remove(Item);
			}

			await Parent.OnSelect();
		}
	}

}