<div class="form-group">
    @if (Parent.HasActiveFilters)
    {
        <button class="btn btn-outline-primary btn-sm" @onclick="() => Parent.LoadFilters(true)">Reset filters</button>
    }
</div>

@code {
    [Parameter] [EditorRequired] public required PaginatedListComponentBase Parent { get; set; }
}