<div class="input-group input-group-sm">
    <input type="text" class="form-control" placeholder="@PlaceHolder" @bind="@Parent.SearchTerm" @bind:event="oninput"
           @onkeyup="HandleKeyUp"/>
    <button class="btn btn-outline-secondary" type="button" @onclick="Search">
        <i class="bi bi-search"></i> Search
    </button>
</div>

@code {
    [Parameter] public string PlaceHolder { get; set; } = "Search...";

    [Parameter] [EditorRequired] public required PaginatedListComponentBase Parent { get; set; }

    private async Task HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await Search();
        }
    }

    private async Task Search()
    {
        await Parent.Search(Parent.SearchTerm);
    }

}
