@page "/settings"
@attribute [StreamRendering]

<PageTitle>@TitleHelper.GetTitle("Settings")</PageTitle>

<div class="container-fluid">
    <h2 class="border-bottom pb-2 mb-4"><i class="bi bi-gear me-2"></i>Settings</h2>

    <TabSet>
        <Tab Title="Profiles">
            <ProfileSettingsTab/>
        </Tab>

        <Tab Title="Integrations">
            <IntegrationsSettingsTab/>
        </Tab>

        <Tab Title="Processing">
            <ProcessingSettingsTab/>
        </Tab>

        <Tab Title="Notifications">
            <NotificationSettingsTab/>
        </Tab>

        <Tab Title="Security">
            <AuthSettingsTab/>
        </Tab>

        <Tab Title="API">
            <ApiSettingsTab/>
        </Tab>
    </TabSet>
</div>
