@if (ChildContent != null)
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-@Type alert-dismissible fade show" role="alert">
                @ChildContent
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public string Type { get; set; } = "success";
}