@code {
    [Parameter] public string ActiveTab { get; set; } = "";
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
    private readonly List<Tab> _tabs = [];

    public void ActivateTab(string tabName)
    {
        ActiveTab = tabName;
        StateHasChanged();
    }

    public void AddTab(Tab tab)
    {
        _tabs.Add(tab);
        if (_tabs.Count == 1)
        {
            ActiveTab = tab.Name;
        }

        StateHasChanged();
    }

}

<div class="container-fluid mt-4">
    <ul class="nav nav-tabs" role="tablist">
        @foreach (var tab in _tabs)
        {
            var tabName = tab.Name;
            <li class="nav-item" role="presentation">
                <button class="nav-link @(ActiveTab == tabName ? "active" : "")"
                        type="button"
                        role="tab"
                        @onclick="() => ActivateTab(tabName)">
                    @tab.Title
                </button>
            </li>
        }
    </ul>
    <div class="tab-content mt-3">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
</div>
