@inherits DisposableComponent
@inject TooltipService TooltipService

@if (string.IsNullOrEmpty(Tip))
{
    @ChildContent
}
else
{
    <span @onmouseenter="Show"
          @onmouseleave="Hide">
        @ChildContent
    </span>
}

@code {
    [Parameter] public string? Tip { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private void Show(MouseEventArgs e)
    {
        var elementTop = e.ClientY - e.OffsetY;
        var y = elementTop - 8;

        TooltipService.Show(Tip!, e.ClientX, y, flipped: y < 4);
    }

    private void Hide()
    {
        TooltipService.Hide();
    }

    public override void Dispose()
    {
        TooltipService.Hide();
    }
}
