<div class="modal-body">
	<p class="mb-4 text-body">@(Message == null ? "" : (MarkupString)Message.Replace(Environment.NewLine, "<br />"))</p>
	<div class="d-flex justify-content-end gap-2">
		<button class="btn btn-primary" @onclick="Ok">Ok</button>
	</div>
</div>

@code {
	[CascadingParameter] public required BlazoredModalInstance BlazoredModal { get; set; }
	[Parameter] public string? Message { get; set; }

	private async Task Ok()
	{
		await BlazoredModal.CloseAsync(ModalResult.Ok());
	}

}